<?xml version="1.0"?>
<!--
/**
 * MageQuest - https://magequest.io
 * Copyright © MageQuest. All rights reserved.
 * See LICENSE.md file for details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MageQuest\PpcLandingPages\Api\Data\PpcInterface"
                type="MageQuest\PpcLandingPages\Model\Ppc"/>
</config>
