<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * MageQuest - https://magequest.io
 * Copyright © MageQuest. All rights reserved.
 * See LICENSE.md file for details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_load_before">
        <observer name="magequest_ppc_landing_pages_update_layout"
                  instance="MageQuest\PpcLandingPages\Observer\UpdateLayout"/>
    </event>
</config>
